.user-page {}

.user-page__container {
  display: flex;
  align-items: stretch;
}

.user-page__top {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 48px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px #E9E9E9;
  border-radius: 30px;
}

.user-page__top-inner {
  display: flex;
  align-items: center;
}

.user-page__info {
  display: flex;
  flex-direction: column;
}

.user-page__avatar {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border-radius: 50%;
}

.user-page__username {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 20px;
}

.user-page__id {
  margin: 0;
  font-size: 18px;
}

.user-page__form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 50px;
  padding: 32px 32px;
  background-color: #FFFFFF;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px #E9E9E9;
  border-radius: 30px;
}

.user-page__form-title {
  margin-top: 0;
  margin-bottom: 30px;
}

.user-page__input {
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #D2D2D2;
  border-radius: 50px;
  background-color: white;
}

.user-page__btn-submit {
  padding: 10px;
  /* align-self: center; */
  background-color: white;
  text-transform: uppercase;
  border: 1px solid #D2D2D2;
  border-radius: 120px;
  cursor: pointer;
}