.user-card__avatar {
  width: 100%;
  height: 290px;
  margin-bottom: 40px;
  object-fit: cover;
  border-radius: 12px;
}

.user-card__info {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
}
