.users-list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.users-list__item {
  width: calc(100% / 4 - 20px);
  padding: 25px;
  border-radius: 12px;
  background-color: white;
  -webkit-box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  margin-bottom: 20px;
}

.users-list__link {
  text-decoration: none;
  color: black;
}
