.site-header {
  width: 100%;
  padding: 20px;
  position: fixed;
  -webkit-box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 100px -1px rgba(34, 60, 80, 0.2);
  z-index: 1000;
  background-color: white;
}

.site-header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  display: block;
  width: 70px;
  height: auto;
  opacity: 1;
  border-radius: 50%;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.6;
}


.navbar__list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar__item {
  cursor: pointer;
}

.navbar__item:not(:last-child) {
  margin-right: 20px;
}

.navbar__link {
  text-decoration: none;
  color: black;
}

.logout-modal__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: relative;
}

.logout-modal__title {
  margin: 0;
  margin-bottom: 30px;
}

.logout-modal__btn-exit {
  position: absolute;
  top: -10px;
  right: 0px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.logout-modal__btn-confirm {
  margin-right: 50px;
  padding: 10px 20px;
  background-color: rgb(192, 158, 158);
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}

.logout-modal__btn-cancel {
  padding: 10px 20px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 20px;
  cursor: pointer;
}