

.register__headline {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  text-transform: uppercase;
}

.register__form {
  width: 60%;
  padding: 48px;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
}

.register__input {
  width: 50%;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #D2D2D2;
  border-radius: 120px;
  background-color: white;
}

.register__btn-submit {
  padding: 20px 50px;
  align-self: center;
  background-color: white;
  text-transform: uppercase;
  border: 1px solid #D2D2D2;
  border-radius: 120px;
  cursor: pointer;
}