html {
  height: 100%;
  box-sizing: border-box;
}

*,*::after,*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5px;
  background-color: #F6F6F6;
  color: black;
}

img {
  width: 100%;
  height: auto;
}

main {
  flex-grow: 1;
  margin-top: 150px;
}

.container{
  width: 100%;
  max-width: 1400px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

